#body-index {
    background-image: url("images/backgroundIndex.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.navbar { 
    padding: 0;
} 

#body-main-page {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.arrow {
    margin-left: 10px;
    padding: 2px 5px 2px 5px;
    background-color: white;
}



.text-link, #filter-toggle-button {
    font-size: 1.1em;
    font-weight: bold;
    color: black;
}

.text-link:hover {
    text-decoration: underline;
    color:black;
}

#row-top {
    background: rgba(255, 255, 255, 0.5);
}

.container-white {
    background: rgba(0, 0, 0, 0.5);
}

#logo-text{
    display: flex;
    align-items: center;
}

#login-form-container {
    margin-top: 50px;
}

.big-text {
    font-size: 60px;
}


.logo {
    margin: 10px;
    height: 40px;
    width: 40px;
}

.text-form-index {
    color: white;
}

.text-index-title {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.logo-index {
    margin: 10px;
    height: 100px;
    width: 100px; 
}

#container-wg-profiles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#filter-col {
    background-color:grey;
}

#filter-toggle-button {
    text-align: left;
    width:100%;
    text-decoration: none;
}

#filter-toggle-button:hover {
    text-decoration: none;
}

.card-header {
    padding: 0px
}

.card-body {
    background-color: grey;
}

.card {
    border:none
}

.label-wg-top {
    margin-top: 10px;
    color: white;
    background-color: #282828;
    width: 100%;
    text-align: center;
    font-size: 2em;
}

#white-box {
    display: inline-block;
    height: 60px;
    padding:5px;
    border-radius: 15px;
    width: fit-content;
    background-color: white;
}

#profile-text-top {
    color:white;
    font-size: 1.5em;
    text-align: center;
}

tr {
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}

tr th  {
    width: 100%;
}

.table-header {
    border-bottom: 2px solid white;
    text-align: center;
}

#dark-background {
    background:rgba(0, 0, 0, 1);
    display:none;
    height:100vh;
    left:0;
    position:absolute;
    top:0;
    width:100%;
    z-index:5;
}

@media only screen and (max-width: 767px) {
    .navbar a {
        margin-left: 10px;
    }
}