#body-index {
    background-image: url("images/backgroundIndex.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.navbar { 
    padding: 0;
} 

#body-main-page {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.arrow {
    margin-left: 10px;
    padding: 2px 5px 2px 5px;
    background-color: white;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.text-link {
    font-size: 1.1em;
    font-weight: bold;
    color: black;
}

.text-link:hover {
    text-decoration: underline;
    color:black;
}

#row-top {
    background: rgba(255, 255, 255, 0.5);
}

.container-white {
    background: rgba(0, 0, 0, 0.5);
}

#logo-text{
    display: flex;
    align-items: center;
}

#login-form-container {
    margin-top: 50px;
}

.big-text {
    font-size: 60px;
}


.logo {
    margin: 10px;
    height: 40px;
    width: 40px;
}

.text-form-index {
    color: white;
}

.text-index-title {
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.logo-index {
    margin: 10px;
    height: 100px;
    width: 100px; 
}